venv/
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.vscode/
.ipynb_checkpoints/

# logs
logs/*
!logs/.gitkeep

# data gerada
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep